<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531598773011-elmffgpk2e52o13ifllsjnhpg42ahva9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531598773011-elmffgpk2e52o13ifllsjnhpg42ahva9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531598773011-sn36q43lot0d62uhqggf3e7irjqr82g7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsgr7s4nzixQ47hxIZM-lRiXecDuAfDaI</string>
	<key>GCM_SENDER_ID</key>
	<string>531598773011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peryloth.pruebatecnica</string>
	<key>PROJECT_ID</key>
	<string>pruebatecnicabw</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebatecnicabw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531598773011:ios:a5b56c18b290d24c1a68e6</string>
</dict>
</plist>